.sb-de-glass-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 3em 1.5%;
    margin: 1%;
    border: 2px solid white;
    border-radius: 2em;
    text-decoration: none;
}

.sb-de-glass-card > h1,
.sb-de-glass-card > h2 {
    color: white;
    text-shadow: 0.07em 0.07em #00be1d;
    text-align: center;
}

.sb-de-glass-card > h1 {
    font-size: 1.2rem;
}

.sb-de-glass-card > h2 {
    font-size: 1rem;
}


.sb-de-glass-card > img {
    width: 100%;
    mix-blend-mode: multiply;
}

@media (max-width: 940px) {
    .sb-de-glass-card {
        width: 50%;
    }
}

@media (max-width: 640px) {
    .sb-de-glass-card {
        width: 100%;
    }
}