.sb-de-home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #00ff2a;
}

.sb-de-home-container > h1 {
  color: white;
  text-align: center;
  text-shadow: 0.07em 0.07em #00be1d;
}

.sb-de-home-container > h1 > i {
  margin: 0 0.5em;
}


.sb-de-glasses-container {
  display: flex;
  padding: 4em;
  background: #ff2f5c
}