.sb-de-navbar-button {
  display: block;
  height: 3em;
  width: 3em;
  background: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

.sb-de-navbar-button > svg {
  fill: white;
}

.sb-de-navbar-button > div {
    width: 1.5em;
    margin-top: -1.3em;
    border-radius: 50%;
    line-height: 1.5;
    font-weight: 600;
    background: white;
    color: var(--main-theme-color);
}

.sb-de-content {
  padding-top: 5em;
  min-height: 100vh;
  background: var(--main-bg-color);
}
