.sb-de-basket-page {
  background: var(--main-bg-color);
}

.sb-de-checkout-page-address-form,
.sb-de-checkout-page-payment-form,
.sb-de-checkout-page-shopping-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
}

.sb-de-checkout-page-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sb-de-checkout-page-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.sb-de-checkout-page-button-wrapper {
  margin-top: 1em;
}
